#datos,#textoOpciones,#basura,#pincelOpciones{
  display: none;
}
#datos input, #textoOpciones input,#pincelOpciones input{
  background-color:rgb(66, 66, 66);
  color:white;
  padding:0em;
  padding-left:.5em;
  padding-right:.5em;
  margin-left:.5em;
  margin-right:.5em;
  height:100%;
  border-radius: .5em;
  border:0em;
}
#btnImagen{
  width:2em;
  height:2em;
  background-size:contain;
  background-position: center;
  background-image: url(camara.png);
}
.imagen{
  width:10em;
  height:10em;
  background-color:transparent;
  background-position: center;
  background-repeat:no-repeat;
  background-size:contain;

}
#inputColorPincel{
  margin-left:.3em;
  margin-right:.3em;
  width: 3em;
  height: 1em;
  background-color:black;
}
#btnColor{
  margin-left:.3em;
  margin-right:.3em;
  width: 1em;
  height: 1em;
  background-color:black;
}
select{
  border:0;
  padding:0;
  background-color:rgb(66, 66, 66);
  height:1.9em;
  border-radius: .5em;
  color:white;
}
select.figuras{
  font-size:.7em;
}
#figuras{
  display:flex;
  flex-direction: column;
}
