
#draggable {
  width:200px;
  height: 200px;
  padding: 0.5em;

  background-image: url("http://www.stickpng.com/assets/images/580b57fbd9996e24bc43bd2f.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
 }

 #draggable2 {
   width: 200px;
   height: 200px;
   padding: 0.5em;

   background-image: url("https://www.freeiconspng.com/uploads/minnie-mouse-png-27.png");
   background-position: center;
   background-repeat: no-repeat;
   background-size: cover;
  }

.contenedor{
  width: 100%;
  height: 100%;
  background-image: url("http://3.bp.blogspot.com/-fQ2BDfEw_GQ/VhOF3Vb4TSI/AAAAAAAAAaA/QFw_se5Xo_w/s1600/mickeymouse1.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
